.ourteambackimage{
  background-image: url('../../../public/ourteamback.jpeg');
  background-size: cover;
  background-position: center;
}

.teamback{
    background-color: white;
    padding: 50px;
    background-image: './ourteamback.jpeg';
  }
  .teambox{
    min-width: 350px;
    max-width: 400px;
    margin: 20px;
    text-align: center;
    box-shadow: black;
    background-color: aliceblue;
    border-radius: 10px;
  }
  #teammember p{
    max-width: 200px;
    align-items: center;
    justify-content: center;
  }
  
  .teambox:hover{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
  }
  
  .teamboximage{
    margin-top: 10px;
    width: 250px;
    height: auto;
    border-radius: 20%;
    object-fit: 'cover'
  }
  .foot{
    align-items: center;
    justify-content: center ;
    width:100%;
    background-color:white;
  }
  .social-media-box{
    margin-bottom: 10px;
  }
  
  .social-media-box a{
    padding:5px;
  }